.mode {
  & .mode-switch {
    display: flex;
    align-items: center;
    justify-content: center;

    & .mode-icon {
      color: #ddd;
    }

    & .color {
      color: #ffdf5d;
      transition: color 0.8s linear;
    }
  }
}
